<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="containeur">
            <!-- BLOC 1 -->
            <div class="bloc">
                <div class="bloc-1">
                    <p class="title">Mariage</p>
                    <p class="subtitle">This is it</p>
                    
                </div>
            </div>
            
            <div class="bloc-newlyweds">
                
                <img class="img-newlyweds img-newlyweds-left" src="static/img/she.png">
                
                <div class="she">
                    Aurélie
                </div>
                
                <div class="him">
                    Ludovic
                </div>
                
                <img class="img-newlyweds img-newlyweds-rigth" src="static/img/him.png">
            </div>
            
            <div class="bloc-witnesses">
                
                <div class="bloc-wanted">
                    <div class="bloc-wanted-img">
                        <img class="img-wanted" src="static/img/wanted.gif">
                    </div>
                    <div class="bloc-wanted-text">
                        <span class="bloc-wanted-name">Name</span>
                        <span class="bloc-wanted-bio">Bio</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
